@font-face {
		font-family: 'CenturyGothic-Bold';
		src: url('../fonts/Century Gothic Bold/gothicb.eot');
		src: url('../fonts/Century Gothic Bold/gothicb.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/Century Gothic Bold/gothicb.woff') format('woff'),
				 url('../fonts/Century Gothic Bold/gothicb.ttf') format('truetype'),
				 url('../fonts/Century Gothic Bold/gothicb.svg#gothicb') format('svg');
		font-weight: normal;
		font-style: normal;
}