/* Large Tablet Devices ----------- */
@media only screen 
and (max-width : 980px) {
	html, body{
		-webkit-touch-callout: none;
		-webkit-user-select: none; /* Webkit */
		-moz-user-select: none;    /* Firefox */
		-ms-user-select: none;     /* IE 10  */
	}

	/*
	* Header
	*/
	header.page-header {
		height: auto;
		overflow: visible;
		min-height: 0;
	}
	
	.logo-wrapper,
	.cb-logo{ 
		text-align: center;
		float: none; 
		margin: auto;
		display: block;
	}
	
	header.page-header .aside,
	header.page-header .social{
		display: none;
	}

	/*
 	* Primary Navigation Config
	*/
	
	nav.page-nav{ 
		float: none; 
		clear: both;
	}
	
	nav.page-nav ul{ 
		margin: 0; 
		padding: 0;
		text-align: center; 
	}
	
	nav.page-nav li{
		width: 24%;
		display: inline-block;
		vertical-align: top;
	}
	
	nav.page-nav ul li a{  
		margin: 2px auto;
		background: #f3b500;
		padding: 5px;
		height: auto;
		
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	nav.page-nav ul li a:hover,
	nav.page-nav ul li a:active,
	nav.page-nav li.current_page_item a{
		background: #1ba800;
	}
	
	nav.page-nav li span{ 
		display: block; 
	}
	
	/* Nth Drop Down */
	nav.page-nav ul ul,
	nav.page-nav ul li:hover ul{ 
		display: none; 
		left: 0; 
		top: 100%;
	}
	
	nav.page-nav ul ul li a{ 
		text-indent: 25px; 
	}
	
	/* 
	* Banner Area Config 
	*/

	.page-banner .rslides,
	.page-banner .upcoming-events {
		float: none;
		margin: auto;
		display: block;
		width: 100%;
	}
	
	.page-banner .rslides img{
		text-align: center;
		margin: auto;
	}
	
	.upcoming-events {
		background: url(../images/bg-upcoming_events-2.jpg) center top;
		height: auto;
		padding: 20px 0;
	}
	
		.date-container{
			width: auto;
			text-align: center;
		}
		
			.date{
				display:inline-block;
				vertical-align: top;
				margin: 1em;
			}
			
			.calendar{
				float: none;
				display: block;
				margin: auto;
				width: 50%;
			}
			
			.calendar span,
			.calendar strong{
				font-size: 16px;
			}
		
	/* Content Area Drop Down */
	
	.page-content,
	aside.page-sidebar{
		float: none;
		margin: auto;
		width: 100%;
	}
	
	.link-container { position: absolute; top: 20px; right: 470px; }
	
	/*
	* Sidebar - Members Section
	*/
	
	.member{
		width: 30%;
	}
	
	.member img{ 
		width: 100%;
	}
	
	.page-content{
		text-align: left;
	}
	
	/*
	* Tabs Section
	*/

	aside.page-sidebar .tabs li a{
		background: #8faf41;
		text-align: center;
		font: 20px 'CenturyGothic-Bold';
		color: #fff;
	}

	aside.page-sidebar .tabs li a span{
		display: inline-block;
	}

	aside.page-sidebar .tabs li a:hover,
	aside.page-sidebar .tabs li a:active,
	aside.page-sidebar .tabs li.current_page_item a{
		background: #1544e8
	}
	
	/*
	* Footer Section
	*/
	
	.nav-footer ul li{
		width: 30%;
		border: 0;
	}
	
	.nav-footer ul li a{
		padding: 10px;
		border: 1px solid;
		margin: 5px auto;
	}
	
	/*
	* Copyright Config
	*/
	
	#copyright{
		float: none;
		margin: 1em auto;
		text-align: center;
	}
}

/* Table Devices */
@media only screen 
and (max-width : 734px) {

	/*
 	* Primary Navigation Config
	*/
	
	.nav-container{
		padding: 0 2%;
	}
	
	.nav-toggle-button {
		margin-bottom: 10px;
	}

	.nav-toggle-button,
	nav.page-nav li,
	nav.page-nav li span{ display: block; }
	
	nav.page-nav{
		display: none;
	}
	
	nav.page-nav ul{
		margin: 0; 
		padding: 0;
	}
	
	nav.page-nav li{
		width: 100%;
		display: block;
	}
	
	nav.page-nav li a{
		padding: 10px 0;
	}
	
	/* Nth Drop Down */
	nav.page-nav ul ul{ 
		position: relative;
	}
	
	nav.page-nav ul ul li a{
		width: auto;
	}
	
	/* 
	* Sidebar - Members Area Config 
	*/
	.member{
		width: 45%;
	}
}

/* Smartphones */
@media only screen 
and (max-width : 500px) {
	/* 
	* Header Area Config 
	*/
	
	.cb-logo{
		padding: 0 10px;
	}
	
	/* 
	* Footer Area Config 
	*/
	
	.nav-footer ul{
		padding: 0 10px;
	}
	
	.nav-footer ul li{
		display: block;
		width: 100%;
	}

}
