
/*
	Theme Name	: Candy Corn
	Theme URI	: 
	Description	: A clean & easy to use responsive template
	Version		: 1.0
	Author		: Larry Geams Nipaya Parangan
	Author URI	: http://larrygeams.com
*/


*, 
*:before, 
*:after {
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*:before, 
*:after {
	position: absolute;
}

iframe{
	width: 100%;
	border: 0;
}

img{
	max-width: 100%;
	height: auto;
}

html,
button,
input,
select,
textarea {
    color: #000;
}

html, body {
	font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
	height: 100%;
	background: url(images/bg-body.jpg) repeat-x center top #cee1ff;
}

a{
	text-decoration: none;
	color: #084D52;
	outline: 0 !important;
}

textarea {
    resize: vertical;
}

/*
* Header Config
*/

.protect-me header.page-header {
    min-height: 100px;
	padding: 20px 0 10px;
    width: auto;
	margin: 0px;
	border: none;
}

header.page-header .aside{
	font: italic 33px Times New Roman;
	color: #fff;
	margin-left: 20px;
}

header.page-header .social{
	position: absolute;
	right: 0;
	bottom: 0;
}

/*
* Navigation Config
*/


nav.page-nav ul{
	padding: 0;
	margin: 0;
	
	text-align: center;
}

nav.page-nav li{ 
	display: inline-block; 
	vertical-align: middle;
	position: relative;
}

nav.page-nav li a{ 
	display: block;
	width: auto;
	padding: 0px 21px;
	color: #000;
	height: 40px;
	line-height: 40px;
	font-family: 'CenturyGothic-Bold';
	background: url(images/bg-nav.jpg) repeat-x left top;
	
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	text-decoration: none;
}

nav.page-nav li a:hover,
nav li.current_page_item a{ 
	background-position: left bottom;
	color: #fff;
}


/* Drop down icon */
nav.page-nav span{
	position: absolute;
	right: 0; top: 0;
	
	display: none;
	padding: 5px;
	
	cursor: pointer;
	z-index: 9;
}

/* Navigation bar icon */
.nav-toggle-button{ 
	display: none; 
	float: right;
	color: #231d1d;
	cursor: pointer;
	padding: 5px 5%;
	border: 1px solid #ccc;
	width: 100%;
	font-size: 1.5em;
}

.nav-toggle-button .fa{
	float: right;
	font-size: 1.5em;
}

.required {color:#F02222;}

/* 
* Banner Area Config 
*/

.page-banner {
	border-top: 1px solid #fff;
	border-bottom: 7px solid #82c2e3;
	background: #b2ddf3;
	
	box-shadow: 0 7px 0 #d0e3ec;
	-moz-box-shadow: 0 7px 0 #d0e3ec;
	-webkit-box-shadow: 0 7px 0 #d0e3ec;
}

.upcoming-events {
	width: 310px;
	max-width: 100%;
	height: 363px;
	background: url(images/bg-upcoming_events.png) no-repeat center top;
}

#modal_content_style{
	color: #067C3E;
	text-align: left;
}
#modal_content_style h1{
	color: #067C3E; 
	font-family: Georgia; 
	font-size: 20px; 
	text-align: center;
}

.upcoming-events h2{
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font: bold 20px 'CenturyGothic-Bold';
	margin-bottom: 0;
}

	.upcoming-events a{
		font: bold 20px 'CenturyGothic-Bold';
		color: #000;
		text-align: center;
		/*display: block; */
	}
	
	.upcoming-events a:hover,
	.upcoming-events a:active{
		color: #fff;
	}
	
	.date-container{
		width: 205px;
		max-width: 100%;
		margin: auto;
		padding: 0 10px;
		font-weight: bold;
		font-size: 13px;
	}
		.calendar{
			background: #052a63;
			padding: 3px 3px 5px;
			color: #fff;
			font-size: 13px;
			font-family: 'CenturyGothic-Bold';
			text-align: center;
			margin-right: 10px;
			clear: both;
			overflow: hidden;
			
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		
			.calendar span,
			.calendar small{
				display: block;
			}
			
			.calendar strong{
				color: #252525;
				font-size: 15px;
				background: #fff;
				width: 100%;
				padding: 3px 10px;
				display: block;
				
				border-radius: 0 0 5px 5px;
				-moz-border-radius: 0 0 5px 5px;
				-webkit-border-radius: 0 0 5px 5px;
			}

.grid{
	background: #fff;
}


.searchbox { position: relative; right: -15px; top: 5px; }	
			
/* 
* Sidebar Area Config 
*/


aside.page-sidebar{
	width: 300px;
	max-width: 100%;
	padding: 10px;
}

aside.page-sidebar .row{
	padding: 10px;
	margin: 10px auto;
}


/*
* Members Section
*/

.members{
	border: 1px solid #1e90ff;
	padding: 10px 0px !important;
	text-align: center;
	
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.members h2{
	padding: 10px !important;
	margin: 10px auto !important;
	line-height: none;
	font-weight:bold;
}

.member{
	margin: 10px 0;
	width: 30%;
}

.member a,
.member span{
	display: block;
	text-align: center;
}

/*.be-a-host {
	border: 1px solid #71B5FB;
	text-align: center;
	height: 40px;
	padding-top: 9px;
	border-radius: 5px;
	font: 20px 'CenturyGothic-Bold';
	background-color: #204EEC;
}*/

.be-a-host  a {
	color: #fff;
	text-decoration:none;
}

.be-a-host  a:hover {
	color: #000;
}

.tax_id {
	border: 1px solid #369CFF;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
}

.tax_id span {
	color: #369CFF;
}

/*
* Contact Information Section
*/
aside.page-sidebar .contact-info{
	background: #002bbf url(images/bg-contact_info.jpg) repeat-x left top;
	color: #fff;
	position: relative;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

aside.page-sidebar .contact-info:after{
	content: url(images/icon-phone.png);
	right: 3%;
	top: 8%;
}

aside.page-sidebar .contact-info h2{
	font: 16px 'CenturyGothic-Bold';
	margin: 0 0 10px;
	padding: 0;
}

aside.page-sidebar .contact-info p{
	white-space: pre-line;
	margin-top: 0;
}

aside.page-sidebar .contact-info a{
	color: #fffc00;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}



/*
* Tabs Section
*/

aside.page-sidebar .tabs{
	padding: 0 !important; 
}

aside.page-sidebar .tabs ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

aside.page-sidebar .tabs li a{
	display: block;
	color: #fae937;
	font-size: 16px;
	height: 60px;
	line-height: 10px;
	background: url(images/bg-side_tabs.jpg) no-repeat left top;
	margin: 5px auto;
	padding: 15px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
}

aside.page-sidebar .tabs li a span{
	display: block;
	font: 20px 'CenturyGothic-Bold';
	color: #fff;
}

aside.page-sidebar .tabs li a:hover,
aside.page-sidebar .tabs li a:active,
aside.page-sidebar .tabs li.current_page_item a{
	background-position: left bottom;
}

/* 
* Main Content Area Config 
*/

.page-content {
	width: 660px;
	max-width: 100%;
	padding: 20px 10px;
	background: #fff;
}

.page-content ul{
	padding: 0;
	margin: 1em;
	list-style: square;
}

.page-content ol{
	padding: 0;
	margin: 1em;
}

.page-content h1{
	font: bold 16px 'CenturyGothic-Bold';
}

.page-content h1 span{
	font-size: 20px;
}

.comp,
.mark{
	color: #084D52;
	font-weight: bold;
}


/* 
* Bottom Area Config 
*/

.page-bottom{
	padding: 20px;
	background: url(images/bg-bottom.png) repeat-x left top;
	color: #000;
	
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

.page-bottom h2{
	margin-top: 0;
	font: 18px 'CenturyGothic-Bold';
}

.page-bottom a{
	display: block;
	width: 100px;
	padding: 10px;
	color: #fff;
	border: 1px solid;
}


/* 
* Footer Area Config 
*/

footer.page-footer{
	color: #000;
	padding: 20px 0;
}
.nav-footer ul ul{display:none;}
.nav-footer ul{
	margin: 1em auto; 
	padding: 0;
	
	text-align: center;
	list-style: none;
}

.nav-footer ul li{
	display: inline-block;
	vertical-align: top;
		border-right: 1px solid #000;
}

.nav-footer ul li a{
	display: block;
	padding: 0px 15px;
	color: #000;
}

.nav-footer ul li:last-child {
	border: 0;
}


.nav-footer ul li a:hover,
.nav-footer li.current_page_item a{
	color: #0833cb;
}


/*
* Copyright Config
*/
#copyright{ font-weight: bold;}

#copyright a{
	color: #000;
	font-weight: bold;
	text-decoration:underline;
}

#copyright a:hover {text-decoration:none;}
/*
* Dang IE 7
*/
.lt-ie8 .dang-ie{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #00abdd;
}

.message{	
	text-align: center;
	color: #fff;
	font-size: 20px;
	
	position: absolute;
	top: 20%;
	left: 0; 
	right: 0;
}

.inner-message{	
	position: relative;
	top: -20%;
	left: 0;
	right: 0;
	
	text-align: center;
	margin: auto;
}

.inner-message img{
	position: relative;
	left: 3em;
}

.inner-message a.download{
	display: block;
	width: 300px;
	padding: 10px;
	color: #fff;
	margin: 2em auto;
	border: 1px solid #fff;
}

.terms{
	color: #fff;
	font-size: 13px;
	padding: 20px;
	
	position: absolute;
	right: 0;
	bottom: 0;
}

.terms a{
	color: #fff;
	font-weight: bold;
}

.lt-ie8 .protect-me{
	display: none; 
}


.form-allowed-tags{
  display:none;

}

#post-70 a, h1{ color: #084D52; }