/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
}

.dir-listing {position:relative; float:left; width:450px; height:auto;}
.ad-regis-form {position:relative; float:left; width:500px; height:auto; margin-left:20px;}
.form-container {width:500px; height:auto;}
.form-container-left {width:200px; height:auto; position:relative; float:left;}
.reg-info {color:blue !important; font-size:15px !important; font-weight:bold;}

.textbox { 
	margin-top:5px;
	margin-bottom:5px;
	border: 1px solid #c4c4c4; 
	height: 25px; 
	width: 200px; 
	font-size: 13px; 
	padding: 4px 4px 4px 4px; 
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	box-shadow: 0px 0px 8px #d9d9d9; 
	-moz-box-shadow: 0px 0px 8px #d9d9d9; 
	-webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
}

.pages {position:absolute; top:75px;}

.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; width:120px;}
.btn-default{color:#333;background-color:green;border-color:#ccc}
.btn-primary{color:#fff;background-color:#27A55A;border-color:#357ebd}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:black;border-color:#285e8e}
.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{color:#fff;background-color:#39b3d7;border-color:#269abc}
.submit {margin-top:8px;}
.radio {padding-bottom:20px;}
#list1, #list2, #list3, #list4 {margin-left:25px !important;}

.adver {margin-top:20px; width:500px; height:auto;}
.adver h6 {color:green}
.adver label {color:green; font-weight:bold;}

.bmb-container .form-container{
	width: 65px;
	height: 65px;
	display: block;
	background: url('../../../images/thumbnail.png') no-repeat center;
	margin-bottom: 18px;
}

#panel {padding:5px; text-align:center; background-color:white; border:solid 1px #c3c3c3;}
#panel {padding:10px; display:none;}

#mylist th {background-color:black; color:#fff;}
#mylist tr {text-align:center; border:none;}
#mylist td {color:black;}
#mylist td a {color:black;}
#mylist tr:hover {background-color:#27A55A;}

