@font-face{
	font-family: opensans;
	src: url(../fonts/OpenSans-Light.ttf);
}

.form-input{
	font-family: opensans !important;
	border:0; 
	padding:5px; 
	font-size:16px; 
	font-family:Arial, sans-serif; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:8px 0px 8px;
	width:300px;
}
.form-input:hover{
	
}
.form-input:focus {
    border: 1px solid #EEA34A;
}

.form-label{
	font-family: opensans !important;
	font-family: Arial,sans-serif;
	font-size:16px; 
}
.form-btn{
	font-family: opensans !important;
	border: 1px solid #CCC;
	padding: 5px 18px;
	margin: 0px 0px 20px;
	font-family: Arial,sans-serif;
	font-size: 16px;
	color: #333;
}
.form-btn:hover{
	color:white;
	background: none repeat scroll 0% 0% #AAA;
	border:solid 1px #ccc; 
}
.form-table{
	font-family: opensans !important;
}
.form-table tr {	
    border-bottom: 0px !important;
}
.form-table tr td {
    padding: 0px !important;
}
.form-radio{
	margin-bottom:15px;
	margin-right:6px;
}
.anchor{
	font-family: opensans !important;
	cursor: pointer;
	font-size:16px; 
}